<h1>Formulario de registro</h1>
<form action="/usuario/registro" method="POST">

    <label for="username">Nombre de usuario</label>
    <input type="text" id="username" name="username">

    <label for="email">Email</label>
    <input type="email" id="email" name="email">

    <label for="password">Contraseña</label>
    <input type="password" id="password" name="plainPassword">

    <label for="imageUrl">Imagen</label>
    <input type="text" id="imageUrl" name="imageUrl">

    <label for="birthday">Fecha de nacimiento</label>
    <input type="date" id="birthday" name="birthday">

    <label for="description">Descripción</label>
    <input type="text" id="description" name="description">


    <button type="submit">Registrarme</button>

</form>