<div class="homePage">
    <div class="container pt-3">
        {{#unless userId}}
        <h1 class="text-center">Bienvenido a {{appTitle}}!</h1>
        {{/unless}}
        {{#if userId}}
        <h1 class="text-center">Bienvenid@ {{username}}</h1>
        {{/if}}
    </div>
</div>