body {
  font-family: 'Marvel', sans-serif;
}

.homePage {
  background-image: url(./../images/marvel.webp);
  height: 90vh;
  background-size: cover;
  background-position-y: -20vh;
}

.loginPage {
  background-image: url(./../images/fondo.jpeg);
  height: 100vh;
  background-size: contain;
  background-position: center;
}

.fondoblanco {
  background-color: #ECE1B4;
  width: 55%;
  height: 100vh;
}

.homePage h1 {
  font-size: 8em;
  font-weight: bolder;
  padding-bottom: 150px;
  color: #FDBB31;
}

#error {
  text-align: center;
  background-color: rgb(255, 203, 203);
  padding: 8px;
  font-size: .8em;
}

.user-card img {
  height: 150px;
  object-fit: cover;
  object-position: top;
}

.nav-item a {
  color: #F00004;
  font-size: 1.5em;
}

.homeCard h5,
.homeCard p,
.homeCard a {
  font-size: 1.6em;
  color: #F00004;
}

.listBg {
  background-image: url(./../images/marvelfondo2.jpeg);
}

.profile {
  background-image: url(./../images/marvelfondo.jpeg);
  font-size: 1.7em;
}

.profile img {
  width: 80%;
}

#myMap {
  height: 50vh;
  width: 800px;
  margin: auto;
}

.h1List {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.fondoLista {
  background-image: url(../images/fondo.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%;
}