<div class="listBg text-center">
    <div class="container pt-5">
        <h2 style="background-color: black; color: white;">Lista de series</h2>
        <div class="row">
            {{#each series}}
            <div class="col-md-4 d-flex justify-content-center text-center">
                <div class="card mt-5 char-card" style="width: 18rem;">
                    <img src="{{thumbnail.path}}.{{thumbnail.extension}}" class="card-img-top" alt="foto">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <form action="/comics/detalles" method="get">
                            <button type="submit" name="id" value="{{id}}" class="btn btn-dark">Detalles</button>
                        </form>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>